.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0px;
    left: 0px;
}