$text-color: #ffffff;
.header {
    grid-area: header;
    background-color: #666666;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    .search-bar-container {
        flex: 1 1 auto;
        input:-webkit-autofill {
            -webkit-text-fill-color: $text-color;
            -webkit-box-shadow: 0 0 0px 1000px #666666 inset;
            transition: background-color 5000s ease-in-out 0s;
            caret-color: $text-color;
        }
    }
    .movie-filter-container {
        display: flex;
        .filter-by-year {
            width: 300px;
            margin-right: 40px;
        }
        .filter-by-type {
            padding-top: 3px;
        }
    }
    .MuiFormGroup-root {
        margin-top: 2px;
        .MuiIconButton-label {
            color: $text-color;
            &.Mui-focused {
                color: $text-color;
            }
        }
    }
    .MuiFormLabel-root {
        color: $text-color;
        &.Mui-focused {
            color: $text-color;
        }
    }
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: "red"
  }
  
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: "red"
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: "red"
  } 
  