.header {
    grid-area: header;
    background-color: #666666;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    .search-bar-container {
        flex: 1 1 auto;
    }
    .movie-filter-container {
        display: flex;
        .filter-by-year {
            width: 300px;
            margin-right: 40px;
        }
        .filter-by-type {
            padding-top: 3px;
        }
    }
    .MuiFormGroup-root {
        margin-top: 2px;
        .MuiIconButton-label {
            color: #ffffff;
            &.Mui-focused {
                color: #ffffff;
            }
        }
    }
    .MuiFormLabel-root {
        color: #ffffff;
        &.Mui-focused {
            color: #ffffff;
        }
    }
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: "red"
  }
  
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: "red"
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: "red"
  } 
  