.side-bar {
    grid-area: sidebar;
    border-right: 1px solid #bbbbbb;
    .movie-list {
        height: calc(100vh - 100px);
        overflow-y: overlay;
        .search-total-result {
            padding: 30px;
        }
        .movie-item {
            display: flex;
            align-items: center;
            padding: 30px;
            border-bottom: 1px solid #bbbbbb;
            &.active {
                background-color: #ebebeb;
            }
            .movie-thumbnail {
                width: 80px;
                height: 80px;
                margin-right: 20px;
                flex: 0 0 80px;
                border-radius: 4px;
                background-size: cover;
                background-position: center;
                border: 1px solid #bbbbbb;
            }
            .movie-info {
                flex: 1 1 auto;
                font-size: 18px;
                .year {
                    color: gray;
                    margin-top: 10px;
                }
            }
        }
        .load-more-result {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    .no-result {
        padding: 20px;
    }
}
