body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
  
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}